.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    background-color:  rgb(33, 219, 33) ;
}

.header-right { 
    background-color: rgb(33, 219, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}